/* Reset */
@font-face {
    font-family:'Whitney';
    src: url(./font-whitney/whitneymedium.otf) format('opentype');
}

@font-face {
    font-family: 'WhitneyBold';
    src: url(./font-whitney/whitneybold.otf) format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    background-color: #404eed;
    font-family:'Whitney', "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.page__grid{
    display: grid;
}

/* Header */

.grid__header{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 7vh;
    grid-template-areas: "logo" "links" "open-discord";
}

.logo{
    grid-area: "logo";
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links{
    grid-area: "links";
    justify-content: center;
    align-items: center;
    display: flex;
}

.links .link__item{
    padding: 18px;
    color: #fff;
    font-size: 0.8rem;
}

.links .link__item:hover{
    text-decoration: underline;
}

.links .link__item:link{
    color: #fff;
}

.open-discord{
    grid-area: "open-discord";
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.open-discord .open-discord__button{
    color: #23272a;
    background-color: #fff;
    padding: 7.5px 10px 7.5px 10px;
    border-radius: 25px;
    font-size: 0.75rem;
    margin-left: 10px;
}

.open-discord .open-discord__button:hover{
    box-shadow: 0px 2.5px 2.5px 2.5px rgba(0,0,0,0.25);
    color: #404eed;
    transition: 200ms ease;
}

/* First section */

.first__section{
    background-color: #404eed;
    height: 525px;
    margin-top: 5px;
}

.first-section__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:465px;
    grid-template-areas: "first-image" "main__content" "second-image";
    justify-content: center;
    background-image: url("./images/background-clouds.svg");
    background-position: center;
}

.first-image{
    grid-area: "first-image";
    align-self: end;
    padding-bottom: 5px;
}

.first-image img{
    height: 33vh;
}

.second-image{
    grid-area: "second-image";
    align-self: end;
    padding-bottom: 5px;
}

.second-image img{
    height: 33vh;
}

.main__content{
    grid-area: "main__content";
    align-self: center;
    display: flex;
    flex-direction: column;
}

.main__content h1{
    font-family:'Roboto', sans-serif;
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    color: #f6f6f6;
    line-height:55px;
}

.main__content p{
    text-align: center;
    color: #f6f6f6;
    line-height:1.625rem;
    margin-top: 35px;
    font-size: 0.92rem;
}

.main-content__title{
    width: 80%;
    margin: 0 auto;
}

.main-content__buttons{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


.main-content__buttons  .main__first-button{
    color: #23272a;
    background-color: #fff;
    border-radius: 50px;
    padding: 15px 28px 15px 28px;
    margin-right: 7.5px;
    display: flex;
    align-items: center;
}

.main-content__buttons .main__first-button:hover{
    background-color: #fff;
    color: #404eed;;
    transition: 200ms ease;
    box-shadow: 0px 2.5px 2.5px 2.5px rgba(0,0,0,0.25);
}

.main-content__buttons .main__second-button{
    color:#fff;
    background-color: #23272a;
    border-radius: 50px;
    padding: 20px 28px 20px 28px;
    margin-left: 7.5px;
    align-self: center;
}

.main-content__buttons .main__second-button:hover{
    background-color: #2c2f33;
    transition: 200ms ease;
    box-shadow: 0px 2.5px 2.5px 2.5px rgba(0,0,0,0.25);
}

/* Second section */

.second__section{
    background-color:white;
    height: 680px; 
}

.second-section__grid{
    display: grid;
    grid-template-columns: 0.9fr 1.5fr 1fr 0.9fr;
    grid-template-rows: 465px;
    grid-template-areas:"first-margin-left" "first-left-content" "first-right-content" "first-margin-right";
}

.first-margin-left{
    grid-area: "first-margin-left";
}

.first-margin-right{
    grid-area: "first-margin-right";
}

.first-left-content{
    grid-area: "first-left-content";
    margin-top: 80px;
    margin-right: 100px;
}

.first-right-content{
    grid-area: "first-right-content";
    margin-top:80px;
}

.first-right-content h2{
    font-family:'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: left;
    color: #23272a;
    line-height:55px;
}

.first-right-content p{
    text-align: left;
    color: #808080;
    line-height:2rem;
    margin-top: 28px;
    font-size: 1.1em;
    font-weight: 400;
    font-family:'Whitney', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Third section */

.third__section{
    background-color: #f6f6f6;
    height: 650px; 
}

.third-section__grid{
    display: grid;
    grid-template-columns: 0.9fr 1.5fr 1fr 0.9fr;
    grid-template-rows: 465px;
    grid-template-areas:"second-margin-left" "second-left-content" "second-right-content" "second-margin-right";
}

.second-margin-left{
    grid-area: "second-margin-left";
}

.second-margin-right{
    grid-area: "second-margin-right";
}

.second-left-content{
    grid-area: "second-left-content";
    margin-top: 80px;
    margin-right: 100px;
}

.second-right-content{
    grid-area: "second-right-content";
    margin-top:80px;
}

.second-left-content h2{
    font-family:'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: left;
    color: #23272a;
    line-height:55px;
}

.second-left-content p{
    text-align: left;
    color: #808080;
    line-height:2rem;
    margin-top: 28px;
    font-size: 1.1em;
    font-weight: 400;
    font-family:'Whitney', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Fourth section */

.fourth__section{
    background-color:white;
    height: 650px; 
}

.fourth-section__grid{
    display: grid;
    grid-template-columns: 0.9fr 1.5fr 1fr 0.9fr;
    grid-template-rows: 465px;
    grid-template-areas:"third-margin-left" "third-left-content" "third-right-content" "third-margin-right";
}

.third-margin-left{
    grid-area: "third-margin-left";
}

.third-margin-right{
    grid-area: "third-margin-right";
}

.third-left-content{
    grid-area: "third-left-content";
    margin-top: 80px;
    margin-right: 100px;
}

.third-right-content{
    grid-area: "third-right-content";
    margin-top:80px;
}

.third-right-content h2{
    font-family:'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    text-align: left;
    color: #23272a;
    line-height:55px;
}

.third-right-content p{
    text-align: left;
    color: #808080;
    line-height:2rem;
    margin-top: 28px;
    font-size: 1.1em;
    font-weight: 400;
    font-family:'Whitney', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Fifth section */

.fifth__section{
    background-color: #f6f6f6;
    height: 1350px; 
}

.fifth-section__flex{
    display: flex;
    flex-direction: column;
    max-width: 66vw;
    margin: 0 auto;
}

.fifth-section__title h2{
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-weight: 800;
    font-size: 2.7rem;
    color: #23272a;
    line-height:55px;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 90px;
}

.fifth-section__title p{
    text-align: center;
    color: #808080;
    line-height:2rem;
    margin: 25px auto 0 auto;
    font-size: 1.1em;
    font-weight: 400;
    font-family:'Whitney', "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 70%;
}

.last-img{
    margin-left: 35px;
}

.fifth-section__button{
    color: #fff;
    background-color: #404eed;
    border-radius: 50px;
    padding: 15px 28px 15px 28px;
    margin-right: 7.5px;
    align-items: center;
    margin-top: 25px;
    display: flex;
}

.fifth-section__button:hover{
    background-color:#5865f2;
    transition: 200ms ease;
    box-shadow: 0px 2.5px 2.5px 2.5px rgba(0,0,0,0.25);
    
}

.fifth-section__journey{
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    flex-direction: column;
    margin-top:45px;
}

.fifth-section__journey h2{
    font-family:'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    text-align: left;
    color: #23272a;
    line-height:55px;
}

.little-stars__img{
    position: absolute;
}

/* Footer */

.footer{
    background-color:#23272a;
    height: 650px;
}

.footer__main-content{
    max-width: 60vw;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 80vh 20vh;
    grid-template-areas: "footer__left-content" "footer__right-content"
                        "footer__logo" "footer__button";
}

.footer__main-content h2{
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.2rem;
    text-align: left;
    color: #5865f2;
    line-height:55px;
}

.footer__left-content{
    display: flex;
    flex-direction: column;
    grid-area: "footer__left-content";
}

.footer__right-content{
    display: flex;
    grid-area: "footer__right-content";
}

.footer__logo{
    grid-area: "footer__logo";
}

.footer__button{
    grid-area: "footer__button";
}